.inputContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.configOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionChip {
    border: 1.5px solid black;
}

.randomBtn {
    align-items: center;
    justify-content: center;
}